footer(class="main-footer main-footer--"+`${footerClass}`)
    div.footer-top
        div.site-fixer
            div.footer-top-flex
                div.footer-top-block
                    div.footer-text-ctn
                        p.footer-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                div.footer-top-block
                    nav.footer-nav
                        each link,title in footerNavigation
                            a.footer-nav__item(href=`${link}`)=title
                    div.footer-socials
                    include ../_partials/socials.pug
                div.footer-top-block
                    div.footer-text-ctn
                        each content in contactsList
                            each item in content
                                if item['link']
                                    div.footer-text-ctn
                                        a.footer-text.footer-link(href=`${item['link']}`) #{item['text']}
                                else
                                    div.footer-text-ctn
                                        span.footer-text #{item['text']}
    div.footer-copyright
        div.site-fixer
        div.footer-copyright-content © Сухов Андрей | создано с любовью в LoftSchool | 2016